<nav class="nav container">
  <a href="#home" class="nav-logo">Borloo</a>
  <div class="nav-menu">
    <ul class="nav-list">
      <li><a href="#home" class="nav-link active" id="menu-home">Accueil</a></li>
      <li><a href="#about" class="nav-link" id="menu-about">À propos</a></li>
      <li><a href="#parcours" class="nav-link" id="menu-skills">Compétences</a></li>
      <li><a href="#contact" class="nav-link" id="menu-contact">Contact</a></li>
    </ul>
  </div>
  <div>
<!--    <a href="#"><i class="fa-regular fa-moon fa-lg"></i></a>-->
  </div>
</nav>
