<h2 class="section-title">Mes compétences</h2>
<span class="section-subtitle">Mon niveau</span>
<div class="skills-container container grid">
  <div class="skill-container open">
    <div class="skill-header">
      <i class="skill-icon fa-solid fa-paintbrush fa-2xl"></i>
      <div class="skill-header-container">
        <h2 class="skill-title">Front-end</h2>
        <span class="skill-subtitle">5 ans</span>
      </div>
      <i class="skill-arrow fa-solid fa-caret-down fa-lg"></i>
    </div>
    <span class="header-bar"></span>
    <div class="skill-list grid">
      <ul>
        <li class="skill">HTML5</li>
        <li class="skill">CSS3</li>
        <li class="skill">JavaScript</li>
        <li class="skill">JQuery</li>
      </ul>
    </div>
  </div>
    <div class="skill-container open">
      <div class="skill-header">
        <i class="skill-icon fa-solid fa-server fa-2xl"></i>
        <div class="skill-header-container">
          <h2 class="skill-title">Back-end</h2>
          <span class="skill-subtitle">3 ans</span>
        </div>
        <i class="skill-arrow fa-solid fa-caret-down fa-lg"></i>
      </div>
      <span class="header-bar"></span>
      <div class="skill-list grid">
        <ul>
          <li class="skill">PHP</li>
          <li class="skill">Java</li>
          <li class="skill">TypeScript</li>
          <li class="skill">C#</li>
        </ul>
      </div>
    </div>

</div>
