<div class="footer-container container grid">
  <div class="title-container">
    <h2 class="footer-title">Maxime Borloo</h2>
    <span class="footer-subtitle">Alternant en informatique</span>
  </div>
  <div class="social-container">
    <a href="#" class="social-i" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <i class="social-i fa-brands fa-linkedin-in fa-lg"></i>
    </a>
    <a href="#" class="social-i" target="_blank" rel="noopener noreferrer" title="GitHub">
      <i class="social-i fa-brands fa-github fa-lg"></i>
    </a>
    <a href="#" class="social-i" target="_blank" rel="noopener noreferrer" title="Instagram">
      <i class="social-i fa-brands fa-instagram fa-lg"></i>
    </a>
    <a href="#" class="social-i" target="_blank" rel="noopener noreferrer" title="Email">
      <i class="social-i fa-regular fa-envelope fa-lg"></i>
    </a>
  </div>
  <div class="nav-container">
    <ul class="nav-list">
      <li><a href="#home" class="nav-link" id="menu-home">Accueil</a></li>
      <li><a href="#about" class="nav-link" id="menu-about">À propos</a></li>
      <li><a href="#skills" class="nav-link" id="menu-skills">Compétences</a></li>
      <li><a href="#contact" class="nav-link">Contact</a></li>
    </ul>
  </div>
</div>
<div class="copy-container">
  <p>Maxime Borloo • All right reserved ©</p>
</div>
