<h2 class="section-title">À propos de moi</h2>
<span class="section-subtitle">Mon introduction</span>
<div class="about-container container grid">
  <img src="./assets/moi.jpg" alt="About" class="about-img">
  <div class="about-data">
    <p class="about-description">
      Je m'appelle Maxime Borloo, j'ai 20 ans et je suis diplômé d'une licence professionnelle APSIO.
      <br><br>
      Depuis toujours passionné par l'informatique, j'ai découvert le développement web via le HTML5, CSS3, JavaScript ou PHP il y a quelques années et est devenu aujourd'hui mon hobbit.
      <br><br>
      J'ai comme but d'entreprendre en développant des services informatiques mais aussi des produits logicielles.
    <p>
    <a download href="assets/Etcheverria%20Maxime%20-%20CV.pdf" class="btn btn-cv">Télécharger mon CV <i class="fa-solid fa-cloud-arrow-down fa-lg"></i></a>
  </div>
</div>
